body {
  background: linear-gradient(to right, #000428, #004e92);
}
@media only screen and (max-width: 600px) {
  /* Styles for screens with a maximum width of 600px */
  body {
    font-size: 14px; /* Decrease font size for smaller screens */
  }
}

nav {
  background-color: lightblue;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-right: 20px;
}

.navbar li:last-child {
  margin-right: 0;
}

.navbar li a {
  text-decoration: none;
  color: #333;
  padding: 10px 15px;
  display: inline-block;
}

.navbar li a:hover {
  background-color: #ddd;
  border-radius: 5px;
}

.heading {
  text-align: center;
  color: rgb(142, 163, 156);
}
p {
  color: #ddd;
  margin-bottom: 10px;
}
.label {
  color: #ddd;
  text-align: center;
}
a:hover {
  color: burlywood;
}
a {
  color: aqua;
}
.content {
  border: 1px solid lightblue;
  border-radius: 10px;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.25);

  margin: 50px;
  width: 70%;
  height: 1000px;
  margin-left: 15%;
}
.img {
  margin-left: 40%;
}
.about {
  border: 1px solid lightblue;
  border-radius: 10px;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.25);

  margin: 50px;
  width: 70%;
  height: 150px;
  margin-left: 15%;
}
